{
  "ari": {
    "home": {
      "r": 167,
      "g": 25,
      "b": 48
    },
    "text": {
      "r": 227,
      "g": 212,
      "b": 173
    }
  },
  "atl": {
    "home": {
      "r": 19,
      "g": 39,
      "b": 79
    },
    "text": {
      "r": 206,
      "g": 17,
      "b": 65
    }
  },
  "bal": {
    "home": {
      "r": 223,
      "g": 70,
      "b": 1
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "bos": {
    "home": {
      "r": 189,
      "g": 48,
      "b": 57
    }
  },
  "chc": {
    "home": {
      "r": 14,
      "g": 51,
      "b": 134
    },
    "text": {
      "r": 204,
      "g": 52,
      "b": 51
    }
  },
  "cws": {
    "home": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "text": {
      "r": 196,
      "g": 206,
      "b": 212
    }
  },
  "cin": {
    "home": {
      "r": 198,
      "g": 1,
      "b": 31
    }
  },
  "cle": {
    "home": {
      "r": 15,
      "g": 34,
      "b": 62
    },
    "text": {
      "r": 227,
      "g": 25,
      "b": 55
    }
  },
  "col": {
    "home": {
      "r": 51,
      "g": 0,
      "b": 111
    },
    "text": {
      "r": 196,
      "g": 206,
      "b": 212
    }
  },
  "det": {
    "home": {
      "r": 12,
      "g": 35,
      "b": 64
    },
    "text": {
      "r": 250,
      "g": 70,
      "b": 22
    }
  },
  "hou": {
    "home": {
      "r": 0,
      "g": 45,
      "b": 98
    },
    "text": {
      "r": 235,
      "g": 110,
      "b": 31
    }
  },
  "kc": {
    "home": {
      "r": 0,
      "g": 70,
      "b": 135
    }
  },
  "laa": {
    "home": {
      "r": 186,
      "g": 0,
      "b": 33
    }
  },
  "lad": {
    "home": {
      "r": 36,
      "g": 90,
      "b": 151
    },
    "text": {
      "r": 191,
      "g": 192,
      "b": 191
    }
  },
  "mia": {
    "home": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "text": {
      "r": 0,
      "g": 163,
      "b": 224
    }
  },
  "mil": {
    "home": {
      "r": 19,
      "g": 24,
      "b": 75
    },
    "text": {
      "r": 182,
      "g": 146,
      "b": 46
    }
  },
  "min": {
    "home": {
      "r": 0,
      "g": 43,
      "b": 92
    },
    "text": {
      "r": 211,
      "g": 17,
      "b": 69
    }
  },
  "nym": {
    "home": {
      "r": 0,
      "g": 45,
      "b": 114
    },
    "text": {
      "r": 252,
      "g": 89,
      "b": 16
    }
  },
  "nyy": {
    "home": {
      "r": 12,
      "g": 35,
      "b": 64
    }
  },
  "oak": {
    "home": {
      "r": 0,
      "g": 56,
      "b": 49
    },
    "text": {
      "r": 239,
      "g": 178,
      "b": 30
    }
  },
  "phi": {
    "home": {
      "r": 232,
      "g": 24,
      "b": 40
    }
  },
  "pit": {
    "home": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "text": {
      "r": 253,
      "g": 184,
      "b": 39
    }
  },
  "sd": {
    "home": {
      "r": 0,
      "g": 45,
      "b": 98
    },
    "text": {
      "r": 162,
      "g": 170,
      "b": 173
    }
  },
  "sf": {
    "home": {
      "r": 253,
      "g": 90,
      "b": 30
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "sea": {
    "home": {
      "r": 12,
      "g": 44,
      "b": 86
    },
    "text": {
      "r": 196,
      "g": 206,
      "b": 212
    }
  },
  "stl": {
    "home": {
      "r": 196,
      "g": 30,
      "b": 58
    }
  },
  "tb": {
    "home": {
      "r": 9,
      "g": 44,
      "b": 92
    },
    "text": {
      "r": 143,
      "g": 188,
      "b": 230
    }
  },
  "tex": {
    "home": {
      "r": 0,
      "g": 50,
      "b": 120
    },
    "text": {
      "r": 192,
      "g": 17,
      "b": 31
    }
  },
  "tor": {
    "home": {
      "r": 19,
      "g": 74,
      "b": 142
    }
  },
  "wsh": {
    "home": {
      "r": 171,
      "g": 0,
      "b": 3
    }
  },
  "nl": {
    "home": {
      "r": 158,
      "g": 31,
      "b": 22
    }
  },
  "al": {
    "home": {
      "r": 20,
      "g": 34,
      "b": 88
    }
  },
  "default": {
    "home": {
      "r": 7,
      "g": 14,
      "b": 25
    },
    "text": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  }
}
