{
  "ari": {
    "home": {
      "r": 167,
      "g": 25,
      "b": 48
    }
  },
  "atl": {
    "home": {
      "r": 206,
      "g": 17,
      "b": 65
    }
  },
  "bal": {
    "home": {
      "r": 223,
      "g": 70,
      "b": 1
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "bos": {
    "home": {
      "r": 189,
      "g": 48,
      "b": 57
    }
  },
  "chc": {
    "home": {
      "r": 14,
      "g": 51,
      "b": 134
    }
  },
  "cws": {
    "home": {
      "r": 196,
      "g": 206,
      "b": 212
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "cin": {
    "home": {
      "r": 198,
      "g": 1,
      "b": 31
    }
  },
  "cle": {
    "home": {
      "r": 15,
      "g": 34,
      "b": 62
    }
  },
  "col": {
    "home": {
      "r": 51,
      "g": 0,
      "b": 111
    }
  },
  "det": {
    "home": {
      "r": 12,
      "g": 44,
      "b": 86
    },
    "text": {
      "r": 255,
      "g": 102,
      "b": 0
    }
  },
  "hou": {
    "home": {
      "r": 0,
      "g": 45,
      "b": 98
    }
  },
  "kc": {
    "home": {
      "r": 0,
      "g": 70,
      "b": 135
    }
  },
  "laa": {
    "home": {
      "r": 186,
      "g": 0,
      "b": 33
    }
  },
  "lad": {
    "home": {
      "r": 36,
      "g": 90,
      "b": 151
    }
  },
  "mia": {
    "home": {
      "r": 255,
      "g": 102,
      "b": 0
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "mil": {
    "home": {
      "r": 0,
      "g": 24,
      "b": 81
    }
  },
  "min": {
    "home": {
      "r": 186,
      "g": 12,
      "b": 46
    }
  },
  "nym": {
    "home": {
      "r": 14,
      "g": 47,
      "b": 110
    },
    "text": {
      "r": 255,
      "g": 89,
      "b": 16
    }
  },
  "nyy": {
    "home": {
      "r": 22,
      "g": 37,
      "b": 70
    }
  },
  "oak": {
    "home": {
      "r": 0,
      "g": 56,
      "b": 49
    }
  },
  "phi": {
    "home": {
      "r": 232,
      "g": 24,
      "b": 40
    }
  },
  "pit": {
    "home": {
      "r": 253,
      "g": 184,
      "b": 39
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "sd": {
    "home": {
      "r": 6,
      "g": 21,
      "b": 64
    }
  },
  "sf": {
    "home": {
      "r": 253,
      "g": 90,
      "b": 30
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "sea": {
    "home": {
      "r": 12,
      "g": 44,
      "b": 86
    }
  },
  "stl": {
    "home": {
      "r": 196,
      "g": 30,
      "b": 58
    }
  },
  "tb": {
    "home": {
      "r": 143,
      "g": 188,
      "b": 230
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "tex": {
    "home": {
      "r": 192,
      "g": 17,
      "b": 31
    }
  },
  "tor": {
    "home": {
      "r": 19,
      "g": 74,
      "b": 142
    }
  },
  "wsh": {
    "home": {
      "r": 186,
      "g": 18,
      "b": 43
    }
  },
  "nl": {
    "home": {
      "r": 158,
      "g": 31,
      "b": 22
    }
  },
  "al": {
    "home": {
      "r": 20,
      "g": 34,
      "b": 88
    }
  },
  "default": {
    "home": {
      "r": 7,
      "g": 14,
      "b": 25
    },
    "text": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  }
}
