{
  "defaults": {
    "font_name": "6x12"
  },
  "bases": {
    "1B": {
      "x": 88,
      "y": 12,
      "size": 16
    },
    "2B": {
      "x": 78,
      "y": 2,
      "size": 16
    },
    "3B": {
      "x": 68,
      "y": 12,
      "size": 16
    }
  },
  "final": {
    "inning": {
      "x": 96,
      "y": 14
    },
    "scrolling_text": {
      "x": 0,
      "y": 30,
      "width": 128
    },
    "nohit_text": {
      "x": 85,
      "y": 22
    }
  },
  "inning": {
    "break": {
      "number": {
        "x": 95,
        "y": 20
      },
      "text": {
        "x": 95,
        "y": 10
      }
    },
    "number": {
      "x": 128,
      "y": 8
    },
    "arrow": {
      "size": 3,
      "up": {
        "x_offset": -5,
        "y_offset": -4
      },
      "down": {
        "x_offset": -5,
        "y_offset": -2
      }
    }
  },
  "outs": {
    "1": {
      "x": 110,
      "y": 24,
      "size": 4,
      "nohit": {
        "x": 110,
        "y": 26,
        "size": 4
      },
      "perfect_game": {
        "x": 110,
        "y": 26,
        "size": 4
      }
    },
    "2": {
      "x": 116,
      "y": 24,
      "size": 4,
      "nohit": {
        "x": 116,
        "y": 26,
        "size": 4
      },
      "perfect_game": {
        "x": 116,
        "y": 26,
        "size": 4
      }
    },
    "3": {
      "x": 122,
      "y": 24,
      "size": 4,
      "nohit": {
        "x": 122,
        "y": 26,
        "size": 4
      },
      "perfect_game": {
        "x": 122,
        "y": 26,
        "size": 4
      }
    }
  },
  "batter_count": {
    "x": 110,
    "y": 22,
    "nohit": {
      "x": 110,
      "y": 16
    },
    "perfect_game": {
      "x": 110,
      "y": 16
    }
  },
  "nohitter": {
    "x": 110,
    "y": 24,
    "innings_until_display": 5
  },
  "pregame": {
    "scrolling_text": {
      "x": 0,
      "y": 30,
      "width": 128,
      "warmup": {
        "x": 0,
        "y": 30,
        "width": 128
      }
    },
    "start_time": {
      "x": 95,
      "y": 15
    },
    "warmup_text": {
      "x": 95,
      "y": 15
    }
  },
  "standings": {
    "offset": 8,
    "height": 32,
    "width": 128,
    "divider": {
      "x": 25
    },
    "stat_title": {
      "x": 28
    },
    "team": {
      "name": {
        "x": 1
      },
      "record": {
        "x": 64
      },
      "games_back": {
        "x": 126
      }
    }
  },
  "status": {
    "text": {
      "x": 96,
      "y": 14,
      "short_text": false
    },
    "scrolling_text": {
      "x": 0,
      "y": 30,
      "width": 128
    }
  },
  "teams": {
    "background": {
      "away": {
        "width": 64,
        "height": 11,
        "x": 0,
        "y": 0
      },
      "home": {
        "width": 64,
        "height": 11,
        "x": 0,
        "y": 11
      }
    },
    "accent": {
      "away": {
        "width": 2,
        "height": 16,
        "x": 0,
        "y": 0
      },
      "home": {
        "width": 2,
        "height": 16,
        "x": 0,
        "y": 16
      }
    },
    "name": {
      "away": {
        "x": 4,
        "y": 9
      },
      "home": {
        "x": 4,
        "y": 20
      }
    },
    "runs": {
      "away": {
        "x": 64,
        "y": 9
      },
      "home": {
        "x": 64,
        "y": 20
      }
    }
  },
  "offday": {
    "scrolling_text": {
      "x": 0,
      "y": 30,
      "width": 64
    },
    "time": {
      "x": 40,
      "y": 9
    },
    "conditions": {
      "x": 40,
      "y": 17
    },
    "temperature": {
      "x": 10,
      "y": 23
    },
    "wind_speed": {
      "x": 0,
      "y": -2
    },
    "wind_dir": {
      "x": 0,
      "y": -2
    },
    "wind": {
      "x": 40,
      "y": 23
    },
    "weather_icon": {
      "x": 2,
      "y": 1,
      "width": 15,
      "height": 15
    }
  },
  "network": {
    "font_name": "4x6",
    "background": {
      "width": 7,
      "height": 7,
      "x": 121,
      "y": 25
    },
    "text": {
      "x": 29,
      "y": 31
    }
  }
}
