{
  "defaults": {
    "font_name": "5x8"
  },
  "bases": {
    "1B": {
      "x": 23,
      "y": 39,
      "size": 16
    },
    "2B": {
      "x": 13,
      "y": 29,
      "size": 16
    },
    "3B": {
      "x": 3,
      "y": 39,
      "size": 16
    }
  },
  "final": {
    "inning": {
      "x": 32,
      "y": 27
    },
    "scrolling_text": {
      "x": 0,
      "y": 38,
      "width": 64
    },
    "nohit_text": {
      "x": 1,
      "y": 27
    }
  },
  "inning": {
    "break": {
      "number": {
        "x": 30,
        "y": 38
      },
      "text": {
        "x": 30,
        "y": 26
      },
      "names": {
        "x": 0,
        "y": 50
      }
    },
    "number": {
      "x": 63,
      "y": 30
    },
    "arrow": {
      "size": 3,
      "up": {
        "x_offset": -5,
        "y_offset": -6
      },
      "down": {
        "x_offset": -5,
        "y_offset": -1
      }
    }
  },
  "outs": {
    "1": {
      "x": 48,
      "y": 50,
      "size": 3,
      "nohit": {
        "x": 48,
        "y": 52,
        "size": 3
      },
      "perfect_game": {
        "x": 48,
        "y": 52,
        "size": 3
      }
    },
    "2": {
      "x": 53,
      "y": 50,
      "size": 3,
      "nohit": {
        "x": 53,
        "y": 52,
        "size": 3
      },
      "perfect_game": {
        "x": 53,
        "y": 52,
        "size": 3
      }
    },
    "3": {
      "x": 58,
      "y": 50,
      "size": 3,
      "nohit": {
        "x": 58,
        "y": 52,
        "size": 3
      },
      "perfect_game": {
        "x": 58,
        "y": 52,
        "size": 3
      }
    }
  },
  "batter_count": {
    "x": 48,
    "y": 49,
    "nohit": {
      "x": 15,
      "y": 21
    },
    "perfect_game": {
      "x": 15,
      "y": 21
    }
  },
  "nohitter": {
    "x": 48,
    "y": 42,
    "innings_until_display": 5
  },
  "atbat": {
    "batter": {
      "x": 1,
      "y": 36,
      "width": 20
    },
    "pitcher": {
      "x": 1,
      "y": 28,
      "width": 24
    },
    "loop": 36,
    "strikeout": {
      "x": 15,
      "y": 36
    }
  },
  "pregame": {
    "scrolling_text": {
      "x": 0,
      "y": 45,
      "width": 64,
      "warmup": {
        "x": 0,
        "y": 51,
        "width": 64
      }
    },
    "start_time": {
      "x": 32,
      "y": 27
    },
    "warmup_text": {
      "x": 32,
      "y": 27
    }
  },
  "standings": {
    "offset": 7,
    "height": 36,
    "width": 64,
    "divider": {
      "x": 16
    },
    "stat_title": {
      "x": 28
    },
    "team": {
      "name": {
        "x": 1
      },
      "record": {
        "x": 24
      },
      "games_back": {
        "x": 64
      }
    }
  },
  "status": {
    "text": {
      "x": 32,
      "y": 27,
      "short_text": false
    },
    "scrolling_text": {
      "x": 0,
      "y": 38,
      "width": 64
    }
  },
  "teams": {
    "background": {
      "away": {
        "width": 64,
        "height": 10,
        "x": 0,
        "y": 0
      },
      "home": {
        "width": 64,
        "height": 10,
        "x": 0,
        "y": 10
      }
    },
    "name": {
      "away": {
        "x": 4,
        "y": 8
      },
      "home": {
        "x": 4,
        "y": 18
      }
    },
    "accent": {
      "away": {
        "width": 2,
        "height": 10,
        "x": 0,
        "y": 0
      },
      "home": {
        "width": 2,
        "height": 10,
        "x": 0,
        "y": 10
      }
    },
    "runs": {
      "away": {
        "x": 63,
        "y": 8
      },
      "home": {
        "x": 63,
        "y": 18
      }
    }
  },
  "offday": {
    "scrolling_text": {
      "x": 0,
      "y": 40,
      "width": 64
    },
    "time": {
      "x": 40,
      "y": 7
    },
    "conditions": {
      "x": 39,
      "y": 16
    },
    "temperature": {
      "x": 10,
      "y": 23
    },
    "wind_speed": {
      "x": 0,
      "y": -2
    },
    "wind_dir": {
      "x": 0,
      "y": -2
    },
    "wind": {
      "x": 39,
      "y": 23
    },
    "weather_icon": {
      "x": 2,
      "y": 1,
      "width": 15,
      "height": 15
    }
  },
  "network": {
    "font_name": "4x6",
    "background": {
      "width": 7,
      "height": 7,
      "x": 57,
      "y": 57
    },
    "text": {
      "x": 61,
      "y": 63
    }
  }
}
