{
	"preferred_team": "Cubs",
	"preferred_division": "NL Central",
	"display_standings": false,
	"rotate_games": false,
	"rotate_rate": 15.0,
	"scroll_until_finished": true,
	"slower_scrolling": false,
	"debug_enabled": false
}
